<br />
<div class="contact" id="contact">
  <div class="contact-text">
    רוצים לבקש מתכון ספציפי? עצה במטבח? סתם לפטפט? כתבו לי :)
    <br>
    &#x2B50 &#9993 &#x1F308 
  </div>
  <form
    action="https://formsubmit.co/cd953035aee0cf529a8ee8ce4ae6353d"
    method="POST"
  >
    <input type="hidden" name="_captcha" value="false" />
    <input
      name="name"
      type="text"
      class="feedback-input"
      placeholder="שם מלא.."
      required
    />
    <input
      name="email"
      type="text"
      class="feedback-input"
      placeholder="כתובת מייל.."
      required
    />
    <textarea
      name="text"
      class="feedback-input"
      placeholder="הודעה.."
      required
    ></textarea>
    <input class="submit-btn" type="submit" value="שליחה" />
  </form>
</div>

