<header class="header">
  <a href="http://localhost:3000"><img src="/img/logo.png" /></a>
  <nav>
    <ul class="main-nav">
      <li><a href="http://localhost:3000">בית</a></li>
      <li><a href="/recipes">מתכונים</a></li>
      <li><a href="facebook.com">פייסבוק</a></li>
      <li><a href="#contact">צרו קשר</a></li>
    </ul>
  </nav>
</header>
