<div class="img-row">
  <% recipes.forEach(recipe => { %>
  <a class="item-in-row" href="/recipes/<%= recipe.id %>">
    <div class="recipe-title-main-page"><%= recipe.title %></div>
    <img
      class="main-page-img"
      src="<%= recipe.posterImagePath %>"
      height="200"
      width="200"
    />
  </a>
  <% }) %>
  <span class="for-more-span"
    ><a class="for-more" href="<%= type %>">עוד>></a></span
  >
</div>
